.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 20px 170px
}

.logo{
    width: 80px;
    height: auto;
    margin-top: 10px;
}

.underline{
    background: linear-gradient(270deg, #2af598 10%, #08b3e5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:50px;
    position: relative;
}

.navbarMenu{
    display:flex;
    align-items:center;
    justify-content: center;
    list-style: none;
    gap: 80px;
    font-size: 20px;
}

.navbarMenu li{
    /* display: flex;
    flex-direction: column; */
    gap:5px;
    cursor: pointer;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.navbarMenu p{
    text-decoration: none;
    color: white;
}

.navbarMenu li:hover{
    color: #08b3e5;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .navbar {
        margin: 20px 50px;
    }

    .navbarMenu {
        gap: 40px;
    }
}

@media (max-width: 768px) {

    .navbar{
        margin: 20px 20px
    }
    
    .logo {
        width: 50px;
    }

    .navbarMenu {
        /* flex-direction: column;
        align-items: flex-start; */
        gap: 20px;
        /* width: 100%; */
    }

    .navbarMenu li {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }

    .underline {
        width: 40px;
    }   
}

@media (max-width: 480px) {
    .logo {
        width: 0px;
    }

    .navbarMenu {
        gap: 20px;
    }

    .navbarMenu li {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .underline {
        width: 20px;
    }  
}